@use "../index" as *;

.breadcrumbs-list {
  display: flex;
  padding: 0;
  margin: 0 0 20px 0;
  list-style: none;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 40px;

  &__item {
    font-size: 14px;
    line-height: 2;
    position: relative;

    &::after {
      @include decorative-square;
    }

    &:first-child::after {
      display: none;
    }

    &:last-child {
      cursor: default;
      color: #aba9a7;
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }
}
