$main-bg: #f6f3f0;
$main-font: var(--font-pt-sans-narrow);
$main-font-color: #000;

$container-width: 960px;

$starts-from-tablet: 768px;
$starts-from-small-desktop: 1024px;
$starts-from-medium-desktop: 1200px;
$starts-from-widescreen: 1440px;
